{% extends "layout.html.twig" %}

{% block title %}{{ cours.libelle }}{% endblock %}

{% block content %}
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}
<table class="table-bordered table">

    <thead class="active">
        <th>Code Ec :{{ cours.code }}</th>
        <th>Intitulé EC :{{ cours.libelle }} </th>
        <th>Volume horraire CM/TD : {{ cours.h_cm}}/{{ cours.h_td }}</th>
        <th>Enseignant : {{ cours.nomEnseignant}}</th>
    </thead>
</table>

<div class="well">
{{ form_start(presentationEcForm, { 'attr': {'class': 'form-horizontal'} }) }}

    <div class="form-group">
        {{ form_label(presentationEcForm.objectifs, null, { 'label_attr':  {
            'class': 'col-sm-2 control-label'
        }}) }}
        <div class="col-sm-8">
            {{ form_errors(presentationEcForm.objectifs) }}
            {{ form_widget(presentationEcForm.objectifs, { 'attr':  {
                 'class': 'ckeditor'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(presentationEcForm.competences, null, { 'label_attr':  {
            'class': 'col-sm-2 control-label'
        }}) }}
        <div class="col-sm-8">
            {{ form_errors(presentationEcForm.competences) }}
            {{ form_widget(presentationEcForm.competences, { 'attr':  {
                 'class': 'ckeditor'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(presentationEcForm.prerequis, null, { 'label_attr':  {
            'class': 'col-sm-2 control-label'
        }}) }}
        <div class="col-sm-8">
            {{ form_errors(presentationEcForm.prerequis) }}
            {{ form_widget(presentationEcForm.prerequis, { 'attr':  {
                'class': 'ckeditor'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(presentationEcForm.plan_cours, null, { 'label_attr':  {
            'class': 'col-sm-2 control-label'
        }}) }}
        <div class="col-sm-8">
            {{ form_errors(presentationEcForm.plan_cours) }}
            {{ form_widget(presentationEcForm.plan_cours, { 'attr':  {
          'class': 'ckeditor'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(presentationEcForm.bibliographie, null, { 'label_attr':  {
            'class': 'col-sm-2 control-label'
        }}) }}
        <div class="col-sm-8">
            {{ form_errors(presentationEcForm.bibliographie) }}
            {{ form_widget(presentationEcForm.bibliographie, { 'attr':  {
                 'class': 'ckeditor'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(presentationEcForm.cours_en_ligne, null, { 'label_attr':  {
            'class': 'col-sm-2 control-label'
        }}) }}
        <div class="col-sm-8">
            {{ form_errors(presentationEcForm.cours_en_ligne) }}
            {{ form_widget(presentationEcForm.cours_en_ligne, { 'attr':  {
              'class': 'ckeditor'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(presentationEcForm.modalite_controle, null, { 'label_attr':  {
            'class': 'col-sm-2 control-label'
        }}) }}
        <div class="col-sm-8">
            {{ form_errors(presentationEcForm.modalite_controle) }}
            {{ form_widget(presentationEcForm.modalite_controle, { 'attr':  {
                'class': 'ckeditor'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(presentationEcForm.erasmus, null, { 'label_attr':  {
            'class': 'col-sm-2 control-label'
        }}) }}
        <div class="col-sm-8">
            {{ form_errors(presentationEcForm.erasmus) }}
            {{ form_widget(presentationEcForm.erasmus, { 'attr':  {
                 'class': 'ckeditor'
            }}) }}
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-3">
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
    </div>
{{ form_end(presentationEcForm) }}

{% endblock %}
