{% extends "layout.html.twig" %}

{% block title %}{{ cours.libelle }}{% endblock %}

{% block content %}

   <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">{{ cours.libelle }}</h4>
                                    
                                         <table class="table">
                                        <thead class="text-primary category">
                                            <th>Code Ec :{{ cours.code }}</th>
                                 
                                            <th>Volume horraire CM/TD : {{ cours.h_cm}}/{{ cours.h_td }}</th>
                                            <th>Enseignant : {{ cours.nomEnseignant}}</th>
                                        </thead>
                                         </table>
                                </div>
                                <div class="card-content table-responsive">
                                    <form>
                                    <table class="table">
                              
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <h4 class="text-primary">Objectifs</h4>
                                                    <div class="form-group h4-floating">
                                                         
                                                        <textarea class="form-control" rows="5">{%if not cours.presentation is empty %}{{cours.presentation.objectifs}}{% endif %}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                                    
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <h4 class="text-primary">Compétences</h4>
                                                    <div class="form-group h4-floating">
                                                         
                                                        <textarea class="form-control" rows="5">{%if not cours.presentation is empty %}{{cours.presentation.competences}}{% endif %}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <h4 class="text-primary">Pré-requis</h4>
                                                    <div class="form-group h4-floating">
                                                        
                                                        <textarea class="form-control" rows="5">{%if not cours.presentation is empty %}{{cours.presentation.prerequis}}{% endif %}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <h4 class="text-primary">Approche pédagogique</h4>
                                                    <div class="form-group h4-floating">
                                                        
                                                        <textarea class="form-control" rows="5">{%if not cours.presentation is empty %}{{cours.presentation.plan_cours}}{% endif %}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div></td>
                                            </tr>
                                                                                        <tr>
                                                <td>
                                                <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <h4 class="text-primary">Bibliographie</h4>
                                                    <div class="form-group h4-floating">
                                                         
                                                        <textarea class="form-control" rows="5">{%if not cours.presentation is empty %}{{cours.presentation.bibliographie}}{% endif %}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div></td>
                                            </tr>
                                                                                        <tr>
                                                <td>
                                                <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <h4 class="text-primary">Espace cours en ligne</h4>
                                                    <div class="form-group h4-floating">
                                                       
                                                        <textarea class="form-control" rows="5">{%if not cours.presentation is empty %}{{cours.presentation.cours_en_ligne}}{% endif %}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div></td>
                                            </tr>
                                                                                        <tr>
                                                <td>
                                                <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <h4 class="text-primary">Modalités de contrôle</h4>
                                                    <div class="form-group h4-floating">
                                                      
                                                        <textarea class="form-control" rows="5">{%if not cours.presentation is empty %}{{cours.presentation.modalite_controle}}{% endif %}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div></td>
                                            </tr>
                                                                                        <tr>
                                                <td>
                                                <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <h4 class="text-primary">ERASMUS</h4>
                                                    <div class="form-group h4-floating">
                                                        <textarea class="form-control" rows="5">{%if not cours.presentation is empty %}{{cours.presentation.erasmus}}{% endif %}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div></td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                                         <button type="submit" class="btn btn-primary pull-right">Valider les modifications</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>

                            </div>
                        </div>
 
                    </div>
                </div>

{% endblock %}
